.bodyh {
    background:linear-gradient(to left,#43A047, #d4fccc, #d4fccc, #43A047);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

.titleh {
    text-align: center;
    color: #43A047;
}
.sec1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px #43A047;
    padding: 20px; 
    max-width: 400px;
    text-justify: inter-word;
    text-align: justify;
}

