* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4caf50, #ffffff, #4caf50);
    margin: 0;
}

nav {
    background: rgba(255, 255, 255, 0.95);
    padding: 13px 0 !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
}

nav ul {
    list-style: none !important;
    display: flex !important;
    justify-content: center !important;
    padding-right: 40px !important;
    gap: 2rem !important;
    margin: 0 !important;
}

nav ul li a {
    color: #2c3e50 !important;
    background-color: #e4f4e5 !important;
    text-decoration: none !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 10px 25px !important; 
    border-radius: 25px !important; 
    transition: all 0.3s ease !important;
    display: inline-block !important;
}

nav ul li a:hover {
    background: #4CAF50 !important;
    color: white !important;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(76, 175, 80, 0.3)
}

h1 {
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 0px;
    overflow: hidden;
}

thead {
    background-color: #2d8a42;
    color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background: #e7f3e8;
}

p {
    font-size: 14px;
    margin: 4px 0;
}

b {
    color: #FFFFFF;
}

br {
    margin-bottom: 20px;
}
